:root{
    --primaryColor : #000000FF;
    --primaryColorAlpha: #00000000;
    --secondaryColor : #FDFDFDFF;
    --buttonColor : #3A464BFF;
    --buttonColorActive : rgb(38, 77, 94);
    --upperGradient : radial-gradient(var(--primaryColor) 50%, var(--primaryColorAlpha) 100%);
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding :0;
}

body{
    background-color: black;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-self:center;
}

.container{
    margin: 2vh 2vw;
    height: 90vh;
    width: 80vw;
/*     background-image: url("../img/bg_driveIn.jpg");
 */    background-repeat: no-repeat;
    background-size: 250%;
    background-position: center ;
    header{
        margin-bottom: 20px;
        height: 108px;
        h1{
            /*display: none;*/
        }
        img{
            z-index: -1;
            transform: rotate(-25deg) scale(80%) translateX(-10em);
            position: absolute;
            top: -5vh;
        }
    }
    nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#screen{
    /*height: 80vh;*/
    box-shadow: 0 0 5em whitesmoke;
    background-color: var(--primaryColorAlpha);
    border-radius: 10px;
}



.button{
    height: 54px;
    width: 177px;
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 2em;
    background-color: var(--buttonColor);
    border-radius: 10px;
    margin: 10px;
    padding: .5em;

    &:hover{
        background-color: var(--buttonColorActive);
    }

}


.Ubox{
    background-color: var(--secondaryColor);
    border-radius: 10px;
}

.cardFilmAccueil{
    display: block;
    width: 30vw;
    border: 1px solid black;
    margin: 10px;
    img{
        width: 100%;
        aspect-ratio: 9/16;
    }

    div{
        text-align: center;
        background: var(--secondaryColor);
        color: var(--primaryColor);
        font-size: 28;
        font-weight: 400;
    }
}
.cardFilmComplet{
    height: 100%;
    display: grid;
    grid-template-areas:
        "affiche note    titre titre   real"
        "affiche resume  resume  resume resume"
        "affiche casting casting genre genre";
    grid-template-columns: 4fr 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: .5em;
    text-align: center;
    border: 3px none black;
        .filmAffiche{
            width: 100%;
            grid-area: affiche;
        }
        .filmNote{
            grid-area : note;
        }
        .filmTitreAnnee{
            grid-area: titre;
        }
        .filmReal{
            grid-area: real;
        }
        .filmResume{
            grid-area: resume;
        }
        .casting{
            grid-area: casting;
        }
        .genre{
            grid-area: genre;
        }
}
.cardProfil{
    display: grid;
    grid-template-areas:
        "photo nom  nom"
        "photo film collab"
        "photo film collab";
    grid-template-columns: repeat(1fr,3) ;
    grid-template-rows: 1fr 4fr ;
    gap: .5em;
    text-align: center;
    border: 3px solid black;
        img{
            width: 100%;
            grid-area: photo;
        }
        .etatCivil{
            grid-area : nom;
        }
        .film{
            grid-area: film;
        }
        .collab{
            grid-area: collab;
        }
        .filmResume{
            grid-area: resume;
        }
        .casting{
            grid-area: casting;
        }
}
.cardProfilList{
    display: block;
    width: 30vw;
    border: 1px solid black;
    margin: 10px;
    img{
        width: 100%;
        aspect-ratio: 9/16; /*à revoir --- pas bon du tout.....*/
    }

    div{
        text-align: center;
        background: var(--secondaryColor);
        color: var(--primaryColor);
        font-size: 28;
        font-weight: 400;
    }
}
#adminPage{
    display: grid;
    grid-template-areas:
        "film casting personne"
        "film genre personne";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5em;
    border: 2px solid black;
}
.adminFilm{
    border: 2px solid black;
    grid-area: film;
    display: flex;
    flex-direction: column;
    * {
        display: inline;
    }
}
.adminPersonnes{
        border: 2px solid black;

    grid-area: personne;
}
.adminCasting{
        border: 2px solid black;

    grid-area: casting;

}
.adminGenre{
        border: 2px solid black;

    grid-area: genre;
}