:root{
    --primaryColor : #000000FF;
    --primaryColorAlpha: #00000000;
    --secondaryColor : #FDFDFDFF;
    --buttonColor : #3A464BFF;
    --buttonColorActive : rgb(38, 77, 94);
    --upperGradient : radial-gradient(var(--primaryColor) 50%, var(--primaryColorAlpha) 100%);
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding :0;
}

/*
#screen{
    display: flex;
    flex-direction: row;
}
*/
.cardFilmAccueil{
    display: block;
    width: 30vw;
    border: 1px solid black;
    margin: 10px;
    img{
        width: 100%;
        aspect-ratio: 9/16;
    }

    div{
        text-align: center;
        background: var(--secondaryColor);
        color: var(--primaryColor);
        font-size: 28;
        font-weight: 400;
    }
}

.Ubox{
    background-color: var(--buttonColor);
    border-radius: 10px;
}

.cardFilmComplet{
    display: grid;
    grid-template-areas:
        "affiche note    titre   real"
        "affiche resume  resume  resume"
        "affiche casting casting casting";
    grid-template-columns: 4fr 1fr 5fr 2fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: .5em;
    text-align: center;
    border: 3px solid black;
        img{
            width: 100%;
            grid-area: affiche;
        }
        .filmNote{
            grid-area : note;
        }
        .filmTitreAnnee{
            grid-area: titre;
        }
        .filmReal{
            grid-area: real;
        }
        .filmResume{
            grid-area: resume;
        }
        .casting{
            grid-area: casting;
        }
}

.cardProfil{
    display: grid;
    grid-template-areas:
        "photo nom  nom"
        "photo film collab"
        "photo film collab";
    grid-template-columns: repeat(1fr,3) ;
    grid-template-rows: 1fr 4fr ;
    gap: .5em;
    text-align: center;
    border: 3px solid black;
        img{
            width: 100%;
            grid-area: photo;
        }
        .etatCivil{
            grid-area : nom;
        }
        .film{
            grid-area: film;
        }
        .collab{
            grid-area: collab;
        }
        .filmResume{
            grid-area: resume;
        }
        .casting{
            grid-area: casting;
        }
}